<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Design by foolishdeveloper.com -->
    <title> Register Form</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form [formGroup]="userForm1" >

        <label for="firstname">First Name</label>
        <input type="text" placeholder="Enter First Name" formControlName="FirstName" id="firstname" required >

        <label for="secondname">Second Name</label>
        <input type="text" placeholder="Enter Second Name" formControlName="LastName" id="secondname"required>

        <label for="mobile">UserName</label>
        <input type="tel" placeholder=" Phone Number" formControlName="username" formControlName="MobileNumber" id="mobile" required>

        <label for="username" >Email</label>
        <input type="email" placeholder="Email" formControlName="Email" id="username" required >

        <label for="password">Password</label>
        <input type="password" placeholder="Password" formControlName="password" id="password" required >

        <button  style="background-color:#d87709" (click)="OnSignUp()">Submit</button><br><br>
        <a routerLink="/login" style="text-decoration: none; margin-top: 10px; margin-left: -20px; color: dodgerblue; cursor: pointer;"> Back to Login</a>
        <!-- <div class="social">
            <a href=""><i class="fab fa-facebook"></i></a>
            <a href=""><i class="fab fa-twitter"></i> </a>
          <div class="go"><i class="fab fa-google"></i>  Google</div>
          <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div> -->
        <!-- </div>  -->
        <!-- <div class="social">
            <a href=""><i class="fab fa-facebook-f"></i></a>&nbsp;&nbsp;
            <a href=""><i class="fab fa-twitter"></i></a>&nbsp;&nbsp;
            <a href=""><i class="fab fa-instagram"></i></a>
 
       </div> -->
    </form>
</body>
</html>
