<section>
    <div class="section-header">
        <div class="container">
            <a href="" routerLink="../aboutus"  style="text-decoration: none;float: left; margin-left: 40px;margin-top: 20px;font-size: 18px;color: black;">Click to Pervious Page</a>
            <h1 style="margin-left: 100px; ">Contact Us</h1>
        </div>
    </div>

    <div class="container">
        <div class="row" style="margin-left: 30px;margin-top: -10px;">
            <div class="contact-info">
                
                <div class="contact-info-item">
                    <div class="contact-info-icon">
                       <i class="fas fa-home"></i>
                    </div>

                    <div class="contact-info-content">
                        <h4>Address</h4>
                        <p>Building No.09,
                        Raheja Mindspace IT Park
                        Hi-tech City.</p>
                    </div>
                </div>
                
                <div class="contact-info-item">
                    <div class="contact-info-icon">
                        <i class="fas-fa-phone"></i>
                    </div>
                    
                <div class="contact-info-content"> 
                     <h4>Phone</h4>
                     <p>+916310097856</p>
                </div>
                </div>

                <div class="contact-info-item">
                    <div class="contact-info-icon">
                       <i class="fas fa-envelope"></i> 
                    </div>

                    <div class="contact-info-content">
                        <h4>Email</h4>
                        <p>example@gmail.com</p>
                    </div>
                </div>
                
            </div>

            <div class="contact-form" style="margin-left: 50px;">
                <form id="contact-form">
                    <h2>Send Message</h2>
                    <div class="input-box">
                        <input type="text" required="true" [(ngModel)]="name">
                        <span>Full Name</span>
                    </div>

                    <div class="input-box">
                       <input type="email" required="true" [(ngModel)="mail"]> 
                       <span>Email</span>
                    </div>
                   
                    <div class="input-box">
                        <textarea required="true"></textarea>
                        <span>Type your Message...</span>
                    </div>

                    <div class="input-box">
                        <!-- <input type="submit" onclick="myFunction" value="Send"> -->
                        <!-- <button onclick="myFunction()">Send</button> -->
                         <button (click) = "myFunction()" style="border-radius: 5px;
                          background-color: #7fd7e4; height: 30px; width: 80px; margin-top: 10px;"
                          routerLink="../home" [disabled]="sendbtn">Send</button> 
                        
                    </div>
                   
                </form>
            </div>


        </div>
    </div>
</section>
<router-outlet></router-outlet>
